version: "3.5"

services:
  # 1. Mariadb
  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports:
      - 3306:3306
    networks:
      - db_net

  # 2. Adminer Service
  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080
    networks:
      - db_net

networks:
  db_net:
